* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body > header {
    padding: 16px;
    background-color: #182c61;
    color: aliceblue;
    
}

header nav li {
    display: inline;
    align-items: center;
    margin-left: 16px;
}

header nav li a {
    color: aliceblue;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
